<html>

<head>
  <title>{% block title %}{% endblock %} | FREEBOOTER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block head%}{%endblock%}
</head>

<body>
  <div class='container-fluid' style='min-height:100%; width:100%'>


  <nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{{url_for('homepage')}}">FREEBOOTER</a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
       <li class="active"><a href="{{url_for('homepage')}}">Home</a></li>
       <li><a href="#">Rules</a></li>
       <li><a href="{{url_for('leaderboard')}}">Leaderboard</a></li>
       <li><a href="#">The Team</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       {% if session.logged_in %}
       <li>
         <a href="{{url_for('user')}}"><span class="glyphicon glyphicon-play"> Play</span></a>
       </li>
       <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
       {% else %}
       <li><a href="{{url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       {% endif %}
     </ul>
   </div>
 </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <div class="alert alert-danger alert-dismissible" style="width:15%" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        {{msg}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}

{% endblock %}

</div>




</body>

</html>
