{% extends 'header.html'%}

{% block title %}
Leaderboard
{% endblock %}

<body>
{%block content%}

<style>
.table td{
  text-align: center;
  color: white;
}
.table th{
  text-align: center;
  color: white;
}
.wh{
  text-align:center;
  color: white;
}
.whead{
  text-align:center;
  color: white;
  font-size: 20px;
}
</style>

<div class="container table-responsive">
  <h1 style="color:white"><strong>Leaderboard</strong></h1>
  <br />
  <table class="table " text-color="white">
    <thead>
      <tr>
        <th class="whead">#</th>
        <th class="whead">Firstname</th>
        <th class="whead">Question</th>
        <th class="whead">Phase</th>
        <th class="whead">Time</th>
      </tr>
    </thead>
    <tbody>
{% if lead %}
  {% for row in lead %}
        <tr>
          <td class="wh"><strong>{{loop.index}}</strong></td>
          <td class="wh">{{row[2]}}</td>
          <td class="wh">{{row[4]}}</td>
          <td class="wh">{{row[5]}}</td>
          <td class="wh">{{row[6]}}</td>
        </tr>
  {% endfor %}
{% endif %}
    </tbody>
  </table>
</div>


{% endblock %}
</body>

</html>
