{% extends 'header.html' %}

{% block title %}{{username}}{% endblock %}
{% block content%}


<div align="center">


<form  class="center" action="{{url_for('user')}}" method="POST">
<div class="form-group">
  <img style="vertical-align: middle;" src="/static/images/questions/{{cur_phase}}/{{cur_qn}}.jpg" class="img-rounded img-responsive"/>
</div>
<br/>
<div class="form-group">
  <!--label for="username">Answer</label-->
  <input class="form-control" style="max-width:30%" type="text" name="answer" id="answer" placeholder="Answer" value="{{request.form.answer}}" required / >
</div>
<div class="m-t-lg">
  <ul class="list-inline">
    <li>
      <input class="btn btn--form btn-primary" type="submit" value="submit" />
    </li>
  </ul>
</div>
</form>
<p style="color:red;">
<strong>{{error}}</strong>
</p>

</div>
{%endblock%}
